body {
  background-color: black;
}
.Model {
  background-size: cover;
  background-repeat: no-repeat;
  /* display: none; */
  width: 240px; /* Set the desired width */
  height: 150px; /* Set the desired height */

  z-index: 10;
  /* padding: 10px; */
  margin: 10px;
}
#ModelContainer {
  /* padding: 20px; */
  margin: 10px;
  display: flex;
}
#Model1 {
  background-image: url("Model1.jpg");
}
#Model2 {
  background-image: url("Model2.png");
}
.upper-canvas {
  background-repeat: no-repeat;
  background-size: cover;
}
.canvas-container {
  margin: 20px;
  /* padding: 20px; */
}

.Button {
  user-select: none;
}
